body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343a40; /* Темный фон */
    color: #dee2e6; /* Светлый цвет текста */
}

header {
    background-color: #0056b3; /* Темно-синий цвет для заголовка */
    color: white;
    text-align: center;
    padding: 1em 0;
}

.portfolio-section {
    background-color: #454d55; /* Темно-серый цвет для секций */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #17a2b8; /* Голубой цвет для заголовков */
}

a {
    color: #17a2b8; /* Голубой цвет для ссылок */
    text-decoration: none;
    transition: color 0.3s;
}

a:visited {
    color: #17a2b8; /* Голубой цвет для посещенных ссылок */
}

a:hover {
    text-decoration: underline;
    color: #138496; /* Светло-голубой цвет при наведении */
}

a:active {
    color: #0a5a7c; /* Темно-голубой цвет при нажатии */
}

ul, ol {
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-photo-container {
    margin-right: 20px;
}

.profile-photo {
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.personal-details {
    margin-left: 20px;
}

.interview-info {
    margin-left: 20px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.file-label {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.file-input {
    display: none;
}

.file-list {
    text-align: left;
    margin-top: 10px;
}

.file-list div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.file-list div a {
    margin-left: 10px;
    color: #17a2b8; /* Голубой цвет для файлов */
    text-decoration: none;
}

.file-download {
    margin-top: 20px;
}

.file-download a {
    display: block;
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #17a2b8; /* Голубой цвет для файлов */
    transition: background-color 0.3s;
}

.file-download a:hover {
    background-color: #2c3136; /* Темно-серый цвет при наведении */
}



#datetime {
    color: #ffffff; /* Цвет текста даты и времени */
}

#copyButton {
    background-color: #007bff; /* Цвет фона кнопки "Copy" */
    color: white; /* Цвет текста на кнопке "Copy" */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#copyButton:hover {
    background-color: #0056b3; /* Цвет фона при наведении на кнопку "Copy" */
}
